---
import Heading from "../ui/Heading.astro";
import ExperienceItem from "../ui/ExperienceItem.astro";
import ViewAllLink from "../ui/ViewAllLink.astro";
import { getCollection } from "astro:content";

const allExperience = await getCollection("experience");
const experience = allExperience.sort((a, b) => a.data.order - b.data.order);
const preview = experience.slice(0, 3);
---

<section id="experience" class="experience-section center-section">
  <div class="experience-content container">
    <Heading as="h2">Experience</Heading>
    <ul class="experience-list">
      {
        preview.map((exp, i) => (
          <ExperienceItem
            title={exp.data.title}
            duration={exp.data.duration}
            learnSource={exp.data.learnSource}
            details={exp.data.details}
            index={i}
            slice={3}
          />
        ))
      }
    </ul>
    <ViewAllLink href="/experience">View All &rarr;</ViewAllLink>
  </div>
</section>

<style>
  .experience-list {
    display: flex;
    flex-direction: column;
  }

  @media screen and (width <= 480px) {
    .experience-list :nth-child(3) {
      display: none;
    }
  }
</style>
