---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/ui/PageHeader.astro";
import ExperienceItem from "../components/ui/ExperienceItem.astro";
import { experience } from "../data/experience";
---

<Layout>
  <main class="experience-page">
    <div class="container experience-page-content">
      <PageHeader backHref="/#experience" title="Experience" />
      <ul class="experience-list">
        {
          experience.map((exp, i) => (
            <ExperienceItem
              slice=3
              title={exp.title}
              duration={exp.duration}
              learnSource={exp.learnSource}
              details={exp.details}
              index={i}
              delayStep={80}
            />
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style>
  .experience-page {
    min-height: 100dvh;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .experience-list {
    display: flex;
    flex-direction: column;
  }
</style>
